body 
{
    
    background-image: url(https://media.istockphoto.com/id/992723324/photo/office-building-or-university-lobby-hall-blur-background-with-blurry-school-hallway-corridor.webp?b=1&s=170667a&w=0&k=20&c=psOp4HRsBCW3d-J9aU5JYgoTfeobPRcrYW9tHn_uvys=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
    
}