{%extends 'base.html'%}
{% block 'content' %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Register Form</h3>
                </div>
                <div class="card-body">
                    <!-- Bootstrap Form -->
                    <form action="" method="post">
                        {%csrf_token%}
                        {{error}}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        <div class="text-center">
                            <p></p>
                            <p>Already have an Account?&nbsp;<a href="{%url 'login' %}">Login Here</a></p>
                            
                        </div>
                    </form>
                    <!-- End Bootstrap Form -->
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
